<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span> 
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/alumnos}">Alumnos</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>

		<div th:object="${alumno}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
				role="alert">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>

		</div>

		<form th:action="@{/alumno}" th:object="${alumno}" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="email" th:field="*{email}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-grop row">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input type="date" class="form-control" th:field="*{createAt}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</div>

			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" th:if="${id == null}" value="Crear alumno" class="btn btn-primary" />
					<input type="submit" th:if="${id != null}" value="Guardar alumno" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>